groundstationflow.json
[
    {
        "id": "tinygs_mqtt_input",
        "type": "mqtt in",
        "z": "main_flow",
        "name": "TinyGS MQTT",
        "topic": "tinygs/+/packets",
        "qos": "0",
        "datatype": "json",
        "broker": "tinygs_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 100,
        "wires": [["process_tinygs"]]
    },
    {
        "id": "process_tinygs",
        "type": "function",
        "z": "main_flow",
        "name": "Processar TinyGS",
        "func": "// Normalizar dados do TinyGS\nconst data = msg.payload;\n\nmsg.payload = {\n    source: \"tinygs\",\n    timestamp: new Date().toISOString(),\n    satellite: data.satellite || data.norad_id || \"Unknown\",\n    rssi: data.rssi,\n    snr: data.snr,\n    frequency: data.frequency,\n    latitude: data.latitude,\n    longitude: data.longitude,\n    altitude: data.altitude,\n    raw: data\n};\n\n// Log para debug\nnode.log(`TinyGS: ${msg.payload.satellite} RSSI: ${msg.payload.rssi}dBm`);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 100,
        "wires": [["merge_data"]]
    },
    {
        "id": "satnogs_http",
        "type": "inject",
        "z": "main_flow",
        "name": "Poll SatNOGS (30s)",
        "props": [],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 200,
        "wires": [["satnogs_request"]]
    },
    {
        "id": "satnogs_request",
        "type": "http request",
        "z": "main_flow",
        "name": "SatNOGS API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://network.satnogs.org/api/observations/?ground_station=YOUR_STATION_ID",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 320,
        "y": 200,
        "wires": [["process_satnogs"]]
    },
    {
        "id": "process_satnogs",
        "type": "function",
        "z": "main_flow",
        "name": "Processar SatNOGS",
        "func": "// Processar resposta da API SatNOGS\nconst observations = msg.payload;\n\nif (!observations || observations.length === 0) {\n    return null;\n}\n\n// Pegar observação mais recente\nconst latest = observations[0];\n\nmsg.payload = {\n    source: \"satnogs\",\n    timestamp: latest.end || new Date().toISOString(),\n    satellite: latest.norad_cat_id,\n    observationId: latest.id,\n    transmitter: latest.transmitter,\n    mode: latest.mode,\n    frequency: latest.frequency,\n    waterfall: latest.waterfall,\n    vetted_status: latest.vetted_status,\n    raw: latest\n};\n\nnode.log(`SatNOGS: ${msg.payload.satellite} Obs: ${msg.payload.observationId}`);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 200,
        "wires": [["merge_data"]]
    },
    {
        "id": "merge_data",
        "type": "join",
        "z": "main_flow",
        "name": "Merge Sources",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "source",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 720,
        "y": 150,
        "wires": [["websocket_out", "debug_output"]]
    },
    {
        "id": "websocket_out",
        "type": "websocket out",
        "z": "main_flow",
        "name": "WebSocket Output",
        "server": "ws_server",
        "client": "",
        "x": 940,
        "y": 150,
        "wires": []
    },
    {
        "id": "debug_output",
        "type": "debug",
        "z": "main_flow",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 220,
        "wires": []
    },
    {
        "id": "tinygs_broker",
        "type": "mqtt-broker",
        "name": "TinyGS MQTT Broker",
        "broker": "mqtt.tinygs.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ws_server",
        "type": "websocket-listener",
        "path": "/ws/satellite-data",
        "wholemsg": "false"
    },
    {
        "id": "main_flow",
        "type": "tab",
        "label": "Ground Station Data Flow",
        "disabled": false,
        "info": "Flow principal para agregação de dados TinyGS e SatNOGS"
    }
]